@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Staatliches");
html,
body,
ul,
li,
ol,
form,
legend,
fieldset,
textarea,
a, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: unset;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.cover img {
  object-fit: cover;
}

.contain img {
  object-fit: contain;
}

a:link {
  color: #ac0000;
}

a:visited {
  color: #800000;
}

a:hover {
  color: #d50000;
}

a:active {
  color: #f60000;
}

html,
body {
  font-family: "Roboto Mono";
  font-size: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
}

h1 {
  font-family: "Staatliches";
  font-size: 3rem;
  font-weight: unset;
}

h1,
h2,
h3 {
  color: #fbfbfb;
}

p {
  color: #e1e1e1;
}

hr {
  border: 1px solid #e1e1e1;
}

img {
  vertical-align: top;
}

#root {
  width: 100%;
  display: grid;
  grid-auto-columns: minmax(300px, 1fr);
  grid-template-areas: "sidebar" "front";
}

.sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  min-width: 300px;
  height: 100%;
  color: #e1e1e1;
  background-color: #101010;
}

.sidebar .sidebar-img {
  display: flex;
  justify-content: center;
}

.sidebar .sidebar-img img {
  width: 300px;
  height: auto;
}

.sidebar .sidebar-text {
  font-size: 1.3rem;
  padding: 1em;
}

.sidebar .sidebar-text a:last-child {
  margin-top: 2rem;
  font-weight: 700;
}

#front {
  grid-area: front;
  min-width: 100%;
  background-color: #2a0000;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "about" "projects" "clients" "footer";
}

#front h1 {
  border-bottom: 0.3rem solid #fbfbfb;
  display: inline-flex;
  white-space: nowrap;
}

#front h4 {
  font-size: 1.4rem;
}

#pricing {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "head" "tiers" "footer";
  background-color: #202020;
}

#pricing header {
  grid-area: head;
  padding: 2rem;
}

#pricing .tiers {
  grid-area: tiers;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  gap: 1rem;
}

#pricing .tiers .tier-item {
  padding: 2em;
  color: #d50000;
}

#pricing .tiers .tier-item h2 {
  font-size: 1.4rem;
}

#pricing .tiers .tier-item .tier-header {
  margin-bottom: 1rem;
}

#pricing .tiers .tier-item ul li {
  margin-left: 2ch;
  max-width: 36ch;
  font-size: 1rem;
  margin-top: 0.5rem;
}

#pricing .tiers .tier-item ul li p {
  margin-left: 2ch;
  font-size: 0.8rem;
  color: #f60000;
}

#pricing .tiers .tier-item ul li p::before {
  content: ">";
}

@media screen and (min-width: 1000px) {
  .tier-item li {
    margin-left: 3ch !important;
  }
  .tier-item li p {
    margin-left: 3ch !important;
  }
}

/* Main content of page */
.about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  background-color: #800000;
  color: #fbfbfb;
  font-size: 1.2rem;
  justify-content: space-between;
}

.about .about-text {
  display: flex;
  flex-direction: row;
  flex: 2;
  padding: 3rem;
}

.about .about-text p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.about .about-text img {
  height: 300px;
  margin: 0 2rem;
}

.about .about-img {
  flex: 1;
}

.about .about-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.projects {
  grid-area: projects;
  padding: 2.5rem;
  color: #101010 !important;
}

.projects .projects-text {
  padding: 2em 0 2em 0;
  font-size: 1.2rem;
}

.projects .projects-web-content {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-size: 1.4rem;
}

.projects .projects-content {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects .projects-card {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.projects .projects-card a {
  text-decoration: none;
}

.projects .projects-card a p {
  color: unset;
}

.projects .projects-card:hover p {
  color: #f60000 !important;
}

.projects .projects-web-item {
  width: 100%;
  margin-bottom: 3rem;
  transform: skew(-20deg, 3deg);
  transition: all 0.5s ease;
}

.projects .projects-web-item:hover {
  transform: skew(-20deg, 3deg) translateY(0.3rem) translateX(0.1rem);
}

.projects .projects-web-item:hover img {
  box-shadow: 5px 5px 3px 0px #202020;
}

.projects .projects-web-item img {
  width: 100%;
  box-shadow: 20px 30px 8px 0px #202020;
  transition: all 0.5s ease;
}

.projects .projects-photo-item {
  width: 100%;
  background-color: #202020;
  margin-bottom: 2rem;
}

.projects .projects-photo-item img {
  width: 100%;
  height: 300px;
  box-shadow: 2px 2px 0px 2px #101010;
}

.clients {
  grid-area: clients;
  padding: 1em 2em;
  color: #101010;
}

.clients .clients-text {
  padding: 2em 0 2em 0;
}

.clients .clients-content {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.clients .clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
  box-shadow: 2px 2px 0px 2px #202020;
  width: 100%;
  height: fit-content;
  padding: 1em 0;
  font: 1.3rem "Staatliches";
  transition: 0.1s ease 1s;
}

.clients .clients-item img {
  height: 80px;
  width: 75%;
  object-fit: contain;
}

footer {
  grid-area: footer;
  padding: 1em;
  background-color: #800000;
  color: #ac0000;
}

footer a {
  color: white;
}

.letter {
  grid-area: letter;
  min-height: 100vh;
  padding: 1em 2em;
  color: #272727;
}

@media (min-width: 599px) {
  .sidebar {
    flex-direction: row;
  }
  .projects-card {
    margin: 5rem !important;
  }
  .projects-web-content {
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr)) !important;
  }
}

@media (min-width: 1000px) {
  #root {
    width: 100%;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    grid-template-areas: "sidebar front";
  }
  .sidebar {
    position: fixed;
    flex-direction: column;
    width: 300px;
  }
  .sidebar .sidebar-text {
    font-size: 1rem !important;
  }
  #front h1 {
    font-size: 2.5rem !important;
  }
  #front h4 {
    font-size: 1.2rem !important;
  }
  #front p {
    font-size: 1rem !important;
  }
  .about {
    flex-direction: row !important;
  }
  .about .about-text {
    padding: 3rem 5rem !important;
  }
  .projects {
    padding: 3rem 5rem !important;
  }
  .projects .projects-text {
    font-size: 1rem !important;
  }
  .projects .projects-card {
    margin: 3rem !important;
    font-size: 1rem !important;
  }
  .projects .projects-web-content {
    font-size: 1rem !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  }
}
/*# sourceMappingURL=style.css.map */